.img-card{
    width: 287px;
    height: 300px;
}
.card:hover {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(117, 43, 0, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(117, 43, 0, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(117, 43, 0, 0.2);
    cursor: pointer;

    transform: scale(1.05);
    box-shadow: 0 0 13px 3px rgb(0 0 0 / 22%);
}

.card:hover .btn-order {
    -webkit-box-shadow: 4px 4px 8px 0px rgba(117, 43, 0, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(117, 43, 0, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(117, 43, 0, 0.2);
    cursor: pointer;
    opacity: 1;
}
.card{
    margin-bottom: 20px;
}
.btn-price{
     display: inline;
     background-color: #decaba !important;
     border: solid 1px #decaba !important;
     color:rgb(70, 49, 49) !important;
     font-weight: bold;
     margin-right: 40px;
     margin-top: 50px;
}
.btn-order{
    display: inline;
    margin-left: 40px;
    background-color: rosybrown;
    border: solid 1px rgb(189, 124, 124);
    margin-top: 50px;
    opacity: 0;
}
/* .btn-order:hover{
    background-color: lightpink;
    border: solid 1px rgb(189, 124, 124);
    
} */
