@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

.App {
  text-align: center;
  position: relative;
}

header h1 {
  font-size: 70px;
  font-family: 'Prompt', sans-serif;
}

header h4 {
  font-family: 'Prompt', sans-serif;
  color: rgb(150, 114, 114);
}

header {
  position: sticky;
  background-color: white;
  text-align: center;
  top: 0px;
  z-index: 1;
  padding-top: 30px;
}

#home {
  position: absolute;
  top: 30px;
  height: 20px;
  width: 100%;
  background-color: aqua;

}

.container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;


}

.navbar {
  margin-top: 10px;
}

.drinks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-between;
  margin: 50px auto 50px auto;
}

.h4 {
  display: block;
  width: 100%;
  padding-bottom: 70px;

}

.card {
  width: 30%;
}

.cat {
  margin-bottom: 50px;
  margin-left: 5px;
}

.cart-fill {
  display: block;
  position: absolute;
  top: 10px;
  right: 20px;
  height: 2.3em;
  width: 2.3em;

}

.spinner {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 270px;
}

.cart-total {
  z-index: 2;
  position: absolute;
  top: 15px;
  right: 32px;
  color: red;
}

.keyboard-voice {
  font-size: 1.5em;
  margin-top: 20px;
}

.search {
  text-align: center;
  width: 150px;
  display: inline;
  height: 30px;
}

/* buttons css */

.img {
  width: 750px;
  margin: auto;

}

.icon {
  margin: 50px;
  padding: 40px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  color: #fff;
  align-items: center;
  gap: 30px;
}

.icon:hover {
  cursor: pointer;
}

.address-form {
  margin-left: 10px;
  width: 400px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.nav-container {
  background-image: url("https://images.pexels.com/photos/1098592/pexels-photo-1098592.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
  background-size: cover;
  width: 100%;
}

p {
  margin: 30px;
}

/* recipe-card */
.recipes-container {
  padding: 10px;
  margin: 15px;
  border: none;
  width: 390px;
  border-radius: 5px;
  box-shadow: 5px 10px 18px #888888;

}

.recipe-img {
  width: 360px;
  border-radius: 5px;
}

.main-container {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.recipes-h5 {
  margin-top: 15px;
}

ul {
  list-style: none;
}

.page-link {
  float: right;
  color: #888888 !important;
}

.links {
  margin-left: 500px;
}

@media screen and (max-width: 1400px) {
    .links{
      margin-left: 300px;
    }
      
}
